@{
    ViewData["Title"] = "Home Page";
}

    <div class="row h-100">
        <datalist id="pontos" data-bind="foreach: listaPontos">
            <option value="U.S." data-bind="value: nome" />
        </datalist>
        <div class="col col-md-3 route-fields">
            <div class="row">
                <div class="col col-md-10">
                    <label><b>Origem:</b></label>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-10">
                    <input list="pontos" type="text" class="form-control" data-bind="textInput: origem" />
                </div>
            </div>
            <div class="row" data-bind="visible: listaParadas().lenght > 0">
                <div class="col col-md-10">
                    <label><b>Paradas:</b></label>
                </div>
            </div>
            <div class="row" data-bind="foreach: listaParadas">
                <div class="col col-md-10">
                    <label data-bind="text: ($index() + 1) + '.'"></label>
                    <input list="pontos" type="text" class="form-control" data-bind="textInput: location" />
                </div>
            </div>
            <div class="row">
                <div class="col col-md-10">
                    <label><b>Destino:</b></label>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-10">
                    <input list="pontos" type="text" class="form-control" data-bind="textInput: destino" />
                </div>

                <button class="btn" data-bind="click: adicionarParada"><i class="fas fa-plus-circle btn-add"></i></button>
            </div>
            <div class="row col">
                &nbsp;
            </div>
            <div class="row justify-content-center">
                <button class="btn btn-danger col col-md-5" data-bind="click: calcularRota"><i class="fas fa-road"></i> Roteirizar</button>
            </div>
            <div class="row align-items-end col-md-12 route-data">
                <div class="row col-md-12">
                    <label data-bind="text: 'Distância: ' + distancia(), visible: distancia">Distância:</label>
                </div>
                <div class="row col-md-12">
                    <label data-bind="text: 'Tempo estimado: ' + tempo(), visible: tempo">Tempo estimado:</label>
                </div>
            </div>
        </div>
        <div class="col-xl-9 h-100">
            <div id="divMapa" class="col h-100"></div>
        </div>
    </div>

<script type="text/javascript">
    IniciaKnockout();

    var mapa = document.getElementById("divMapa");

    window.onload = IniciarMapa(mapa);
</script>